{
    //Må si ifra at webpack må kjøre all js gjennom babel
    "presets": [
        "env",
        "react"
    ],
    "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread"

    ]
}